body {
    font-family: Arial;
    background: linear-gradient(to right, #667eea, #764ba2);
    text-align: center;
    color: white;
}

.container {
    background: white;
    color: black;
    padding: 20px;
    margin: 40px auto;
    width: 320px;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}

input, button {
    padding: 10px;
    margin: 8px;
    width: 85%;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.check {
    background: red;
}

.high { color: red; font-weight: bold; }
.medium { color: orange; }
.safe { color: green; }